/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #f0f0f0;
    font-size: 1em;
}
    
body {
    background-color: #fff;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.4em;
    margin: auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(49, 49, 49, 0.5);
}

img {
    border-bottom: 1px solid #d4d4d4;   
}

.flex-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

figcaption {
    border-bottom: 1px solid #d4d4d4;  
    padding: 1rem;
}

h1 {
    color: #a22544;
    border-bottom: 1px solid #d4d4d4;
    padding: 1rem;
}

h2 {
    color: #a22544;
    padding: 1rem;
}

p {
    margin: 1rem;  
}

section {
    padding: 1rem;
}

blockquote p, .bg {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    padding: 1rem;
    font-family: 'Times New Roman', serif;
}

footer {
    text-align: right;
}

cite {
    margin-bottom: 1rem;
    font-family: 'Times New Roman', serif;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

ol {
    margin-left: 2.4rem;
}

table {
    margin-left: 0.85rem;
}

data {
    margin-left: 1rem;
}

a {
    color: #a22544;  
}
.tags a {
    display: inline-block;
    background-color: #e7cad1;
    text-decoration: none;
    padding: 0.3em;
    border: 2px solid #a22544;
    border-radius: 360px; 
}   